In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('new-yorker.csv')

In [20]:
data.tail()

,date_issued,author,title,description,link,page,issue
3295,1972/04/15,Isaac Bashevis Singer,A Crown of Feathers,NaN,https://newyorker.com/magazine/1972/04/15/a-cr...,329,"April 15, 1972 Issue"
3296,1972/04/15,Sylvia Townsend Warner,The Inside-Out,NaN,https://newyorker.com/magazine/1972/04/15/the-...,329,"April 15, 1972 Issue"
3297,1972/04/15,Csikszentmihalyi Mihaly,A Sliver At Night,NaN,https://newyorker.com/magazine/1972/04/15/a-sl...,329,"April 15, 1972 Issue"
3298,1972/04/08,S. J. Perelman,"Meanwhile, Back At The Crunch...",NaN,https://newyorker.com/magazine/1972/04/08/mean...,329,"April 8, 1972 Issue"
3299,1972/04/08,Alexander Frater,The Scribe,NaN,https://newyorker.com/magazine/1972/04/08/the-...,329,"April 8, 1972 Issue"

In [21]:
counts = data[['author', 'link']].groupby(['author']).count()

In [22]:
counts.sort_values(by=['link'], ascending=False)

                        link
author
John Updike               79
Donald Barthelme          70
Alice Munro               55
Mavis Gallant             53
Isaac Bashevis Singer     49
Ann Beattie               48
William Trevor            45
George W. S. Trow         44
Veronica Geng             43
Edna O'Brien              39
Garrison Keillor          38
Ian Frazier               33
Penelope Gilliatt         29
T. Coraghessan Boyle      29
Haruki Murakami           28
Saul Steinberg            28
S. J. Perelman            25
Bruce McCall              24
Sylvia Townsend Warner    24
Arturo Vivante            23
Alice Adams               23
W. S. Merwin              23
Frederick Barthelme       23
George Saunders           22
Jamaica Kincaid           21
Daniel Menaker            21
Louise Erdrich            19
Mary A. Robison           19
Thomas McGuane            19
Tessa Hadley              18
...                      ...
John F. Callahan           1
John Falsey                1
John McNulty               1
John Nathan                1
John Skow                  1
James Robinson             1
Jonas Hassen Khemiri       1
Jonathan Mark              1
Joseph Epstein             1
A. L. Kennedy              1
Joyce Warren               1
Judith Small               1
John Carroll               1
John Batki                 1
John Ash                   1
Joel Gross                 1
Joel Agee                  1
Joan Silber                1
Jim Gavin                  1
Jim Crace                  1
Jessica Shattuck           1
Jess Row                   1
Jensen Beach               1
Jean McGarry               1
Jay Mclnerney              1
Javier Marías              1
Janet Nichols              1
Jamey Gambrell             1
James Salter               1
Zinovy Zinik               1

[828 rows x 1 columns]