In [14]:
import pandas as pd
from tabulate import tabulate

In [2]:
run_1 = pd.read_csv('new-yorker-1.csv')
run_2 = pd.read_csv('new-yorker-2.csv')

In [7]:
data = run_1.append(run_2)

In [8]:
counts = data[['author', 'link']].groupby(['author']).count()

In [20]:
table = counts.sort_values(by=['link'], ascending=False).head(10)

In [21]:
print(tabulate(table, ['Author', '# of Stories'], tablefmt="html"))

<table>
<thead>
<tr><th>Author                </th><th style="text-align: right;">  # of Stories</th></tr>
</thead>
<tbody>
<tr><td>S. J. Perelman        </td><td style="text-align: right;">           271</td></tr>
<tr><td>James Thurber         </td><td style="text-align: right;">           270</td></tr>
<tr><td>John O'Hara           </td><td style="text-align: right;">           226</td></tr>
<tr><td>Frank Sullivan        </td><td style="text-align: right;">           191</td></tr>
<tr><td>W. E. Farbstein       </td><td style="text-align: right;">           184</td></tr>
<tr><td>E. B. White           </td><td style="text-align: right;">           179</td></tr>
<tr><td>John Updike           </td><td style="text-align: right;">           169</td></tr>
<tr><td>Sylvia Townsend Warner</td><td style="text-align: right;">           152</td></tr>
<tr><td>Arthur Kober          </td><td style="text-align: right;">           151</td></tr>
<tr><td>Wolcott Gibbs         </td><td style="text-align: right;">           142</td></tr>
</tbody>
</table>

In [12]:
data.to_csv('new-yorker-full.csv', index=False)