In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data.csv')

In [4]:
data.head()

,Board Number,Board Name,Board Type,School Number,School Name,School Type,School Special Condition Code,School Level,School Language,Grade Range,...,Change in Grade 9 Academic Mathematics Acheivement Over Three Years,Percentage of Grade 9 Students Achieving the Provincial Standard in Applied Mathematics,Change in Grade 9 Applied Mathematics Achievement Over Three Years,Percentage of Students That Passed the Grade 10 OSSLT on Their First Attempt,Change in Grade 10 OSSLT Literacy Achievement Over Three Years,Percentage of Children Who Live in Low-Income Households,Percentage of Students Whose Parents Have Some Unviersity Education,Percentage of JK-Grade 3 Classes With 20 Students or Fewer,Percentage of JK-Grade 3 Classes With 23 Students or Fewer,Extract Date
0,B28010,Algoma DSB,Pub Dist Sch Brd (E/F),902344,Algoma Education Connection Secondary School,Public,Alternative,Secondary,English,9-12,...,NaN,N/R,NaN,N/R,NaN,33.88,SP,NaN,NaN,Dec-04-17
1,B28010,Algoma DSB,Pub Dist Sch Brd (E/F),19186,Anna McCrea Public School,Public,Not applicable,Elementary,English,JK-8,...,NaN,NaN,NaN,NaN,NaN,8.1,20.97,1.0,1.0,Dec-04-17
2,B28010,Algoma DSB,Pub Dist Sch Brd (E/F),67679,Arthur Henderson Public School,Public,Not applicable,Elementary,English,JK-8,...,NaN,NaN,NaN,NaN,NaN,13.42,SP,0.0,1.0,Dec-04-17
3,B28010,Algoma DSB,Pub Dist Sch Brd (E/F),43362,Ben R McMullin Public School,Public,Not applicable,Elementary,English,JK-8,...,NaN,NaN,NaN,NaN,NaN,27.9,14.95,1.0,1.0,Dec-04-17
4,B28010,Algoma DSB,Pub Dist Sch Brd (E/F),54542,Blind River Public School,Public,Not applicable,Elementary,English,JK-8,...,NaN,NaN,NaN,NaN,NaN,22.36,10.7,1.0,1.0,Dec-04-17

In [5]:
data.describe()

,School Number,Latitude,Longitude,Change in Grade 3 Reading Achievement Over Three Years,Change in Grade 3 Writing Acheivement Over Three Years,Change in Grade 3 Mathematics Achievement Over Three Years,Change in Grade 6 Reading Achievement Over Three Years,Change in Grade 6 Writing Acheivement Over Three Years,Change in Grade 6 Mathematics Achievement Over Three Years,Change in Grade 9 Academic Mathematics Acheivement Over Three Years,Change in Grade 9 Applied Mathematics Achievement Over Three Years,Change in Grade 10 OSSLT Literacy Achievement Over Three Years,Percentage of JK-Grade 3 Classes With 20 Students or Fewer,Percentage of JK-Grade 3 Classes With 23 Students or Fewer
count,4934.000000,4934.000000,4934.000000,1233.000000,1235.000000,1241.000000,1213.000000,1212.000000,1212.000000,645.000000,606.000000,747.000000,3515.000000,3515.000000
mean,545630.117146,44.240924,-79.717050,3.987835,-0.469636,-2.219178,1.549052,0.215347,-4.888614,0.086822,-3.315182,-1.306560,0.895240,0.999692
std,291844.462579,1.451152,2.603641,15.081242,15.018077,16.021316,11.556731,13.040963,17.032343,11.001210,17.316156,8.070799,0.190253,0.010972
min,78.000000,41.806950,-94.563700,-61.000000,-65.000000,-63.000000,-48.000000,-51.000000,-59.000000,-64.000000,-62.000000,-52.000000,0.000000,0.500000
25%,282184.250000,43.477645,-80.312427,-5.000000,-9.000000,-12.000000,-5.000000,-7.000000,-16.000000,-5.000000,-14.000000,-5.000000,0.833000,1.000000
50%,595927.000000,43.774220,-79.564585,4.000000,0.000000,-2.000000,1.000000,0.000000,-5.000000,0.000000,-3.000000,-1.000000,1.000000,1.000000
75%,798174.250000,44.552090,-79.212620,13.000000,7.000000,8.000000,8.000000,8.000000,5.000000,5.000000,7.000000,3.000000,1.000000,1.000000
max,968729.000000,51.466270,-74.471020,83.000000,82.000000,64.000000,55.000000,50.000000,70.000000,49.000000,58.000000,37.000000,1.000000,1.000000

In [6]:
data['School Level'].value_counts()

Elementary    4011
Secondary      923
Name: School Level, dtype: int64

# Exclude Secondary Schools

In [7]:
elementary = data[data['School Level'] == 'Elementary']

In [8]:
list(elementary)

['Board Number',
 'Board Name',
 'Board Type',
 'School Number',
 'School Name',
 'School Type',
 'School Special Condition Code',
 'School Level',
 'School Language',
 'Grade Range',
 'Building Suite',
 'P.O. Box',
 'Street',
 'Municipality',
 'City',
 'Province',
 'Postal Code',
 'Phone Number',
 'Fax Number',
 'School Website',
 'Board Website',
 'Enrolment',
 'Latitude',
 'Longitude',
 'Percentage of Students Whose First Language Is Not English',
 'Percentage of Students Whose First Language Is Not French',
 'Percentage of Students Who Are New to Canada from a Non-English Speaking Country',
 'Percentage of Students Who Are New to Canada from a Non-French Speaking Country',
 'Percentage of Students Receiving Special Education Services',
 'Percentage of Students Identified as Gifted',
 'Percentage of Grade 3 Students Achieving the Provincial Standard in Reading',
 'Change in Grade 3 Reading Achievement Over Three Years',
 'Percentage of Grade 3 Students Achieving the Provincial Standard in Writing',
 'Change in Grade 3 Writing Acheivement Over Three Years',
 'Percentage of Grade 3 Students Achieving the Provincial Standard in Mathematics',
 'Change in Grade 3 Mathematics Achievement Over Three Years',
 'Percentage of Grade 6 Students Achieving the Provincial Standard in Reading',
 'Change in Grade 6 Reading Achievement Over Three Years',
 'Percentage of Grade 6 Students Achieving the Provincial Standard in Writing',
 'Change in Grade 6 Writing Acheivement Over Three Years',
 'Percentage of Grade 6 Students Achieving the Provincial Standard in Mathematics',
 'Change in Grade 6 Mathematics Achievement Over Three Years',
 'Percentage of Grade 9 Students Achieving the Provincial Standard in Academic Mathematics',
 'Change in Grade 9 Academic Mathematics Acheivement Over Three Years',
 'Percentage of Grade 9 Students Achieving the Provincial Standard in Applied Mathematics',
 'Change in Grade 9 Applied Mathematics Achievement Over Three Years',
 'Percentage of Students That Passed the Grade 10 OSSLT on Their First Attempt',
 'Change in Grade 10 OSSLT Literacy Achievement Over Three Years',
 'Percentage of Children Who Live in Low-Income Households',
 'Percentage of Students Whose Parents Have Some Unviersity Education',
 'Percentage of JK-Grade 3 Classes With 20 Students or Fewer',
 'Percentage of JK-Grade 3 Classes With 23 Students or Fewer',
 'Extract Date']

In [9]:
elementary = elementary[['Board Number',
 'Board Name','School Number',
 'School Name','Municipality','Enrolment',
 'Latitude',
 'Longitude','Percentage of Students Whose First Language Is Not English',
 'Percentage of Students Whose First Language Is Not French',
 'Percentage of Students Who Are New to Canada from a Non-English Speaking Country','Percentage of Students Receiving Special Education Services',
 'Percentage of Students Identified as Gifted','Percentage of Grade 3 Students Achieving the Provincial Standard in Reading', 'Percentage of Grade 3 Students Achieving the Provincial Standard in Writing',
                         'Percentage of Grade 3 Students Achieving the Provincial Standard in Mathematics','Percentage of Grade 6 Students Achieving the Provincial Standard in Reading', 'Percentage of Grade 6 Students Achieving the Provincial Standard in Writing',
                         'Percentage of Grade 6 Students Achieving the Provincial Standard in Mathematics','Percentage of Children Who Live in Low-Income Households',
 'Percentage of Students Whose Parents Have Some Unviersity Education',]]

In [10]:
elementary.head()

,Board Number,Board Name,School Number,School Name,Municipality,Enrolment,Latitude,Longitude,Percentage of Students Whose First Language Is Not English,Percentage of Students Whose First Language Is Not French,...,Percentage of Students Receiving Special Education Services,Percentage of Students Identified as Gifted,Percentage of Grade 3 Students Achieving the Provincial Standard in Reading,Percentage of Grade 3 Students Achieving the Provincial Standard in Writing,Percentage of Grade 3 Students Achieving the Provincial Standard in Mathematics,Percentage of Grade 6 Students Achieving the Provincial Standard in Reading,Percentage of Grade 6 Students Achieving the Provincial Standard in Writing,Percentage of Grade 6 Students Achieving the Provincial Standard in Mathematics,Percentage of Children Who Live in Low-Income Households,Percentage of Students Whose Parents Have Some Unviersity Education
1,B28010,Algoma DSB,19186,Anna McCrea Public School,Sault Ste. Marie,168,46.50593,-84.28732,SP,100,...,15.5,NaN,77%,58%,81%,80%,67%,53%,8.1,20.97
2,B28010,Algoma DSB,67679,Arthur Henderson Public School,Bruce Mines,101,46.30183,-83.78020,SP,100,...,11.9,NaN,38%,31%,46%,N/D,N/D,N/D,13.42,SP
3,B28010,Algoma DSB,43362,Ben R McMullin Public School,Sault Ste. Marie,189,46.52455,-84.29804,SP,100,...,13.8,SP,44%,38%,44%,74%,65%,22%,27.9,14.95
4,B28010,Algoma DSB,54542,Blind River Public School,Blind River,187,46.18454,-82.95760,SP,100,...,23,NaN,50%,36%,50%,52%,65%,30%,22.36,10.7
5,B28010,Algoma DSB,490822,Boreal French Immersion Public School,Sault Ste. Marie,392,46.52447,-84.31073,SP,100,...,9.4,SP,N/D,N/D,N/D,78%,73%,45%,15.65,13.35

In [12]:
list(elementary)

['Board Number',
 'Board Name',
 'School Number',
 'School Name',
 'Municipality',
 'Enrolment',
 'Latitude',
 'Longitude',
 'Percentage of Students Whose First Language Is Not English',
 'Percentage of Students Whose First Language Is Not French',
 'Percentage of Students Who Are New to Canada from a Non-English Speaking Country',
 'Percentage of Students Receiving Special Education Services',
 'Percentage of Students Identified as Gifted',
 'Percentage of Grade 3 Students Achieving the Provincial Standard in Reading',
 'Percentage of Grade 3 Students Achieving the Provincial Standard in Writing',
 'Percentage of Grade 3 Students Achieving the Provincial Standard in Mathematics',
 'Percentage of Grade 6 Students Achieving the Provincial Standard in Reading',
 'Percentage of Grade 6 Students Achieving the Provincial Standard in Writing',
 'Percentage of Grade 6 Students Achieving the Provincial Standard in Mathematics',
 'Percentage of Children Who Live in Low-Income Households',
 'Percentage of Students Whose Parents Have Some Unviersity Education']

In [16]:
elementary.columns = ['board_id', 'board_name', 'school_id', 'school_name',
                     'municipality', 'enrolment', 'lat', 'long', 'first_lang_not_english',
                     'first_lang_not_french', 'newcomer', 'special_ed', 
                     'gifted', 'grade_3_standard_reading', 'grade_3_standard_writing',
                     'grade_3_standard_math', 'grade_6_standard_reading', 
                     'grade_6_standard_writing', 'grade_6_standard_math',
                     'low_income', 'parent_university_edu']

In [17]:
elementary.head()

,board_id,board_name,school_id,school_name,municipality,enrolment,lat,long,first_lang_not_english,first_lang_not_french,...,special_ed,gifted,grade_3_standard_reading,grade_3_standard_writing,grade_3_standard_math,grade_6_standard_reading,grade_6_standard_writing,grade_6_standard_math,low_income,parent_university_edu
1,B28010,Algoma DSB,19186,Anna McCrea Public School,Sault Ste. Marie,168,46.50593,-84.28732,SP,100,...,15.5,NaN,77%,58%,81%,80%,67%,53%,8.1,20.97
2,B28010,Algoma DSB,67679,Arthur Henderson Public School,Bruce Mines,101,46.30183,-83.78020,SP,100,...,11.9,NaN,38%,31%,46%,N/D,N/D,N/D,13.42,SP
3,B28010,Algoma DSB,43362,Ben R McMullin Public School,Sault Ste. Marie,189,46.52455,-84.29804,SP,100,...,13.8,SP,44%,38%,44%,74%,65%,22%,27.9,14.95
4,B28010,Algoma DSB,54542,Blind River Public School,Blind River,187,46.18454,-82.95760,SP,100,...,23,NaN,50%,36%,50%,52%,65%,30%,22.36,10.7
5,B28010,Algoma DSB,490822,Boreal French Immersion Public School,Sault Ste. Marie,392,46.52447,-84.31073,SP,100,...,9.4,SP,N/D,N/D,N/D,78%,73%,45%,15.65,13.35

In [18]:
elementary.to_csv('elementary_data.csv', index=False)